@font-face {
  font-family: "digital";
  src: url("../fonts/digital7.eot");
  src: url("../fonts/digital7.eot") format("embedded-opentype"), url("../fonts/digital7.woff2") format("woff2"),
    url("../fonts/digital7.woff") format("woff"), url("../fonts/digital7.ttf") format("truetype"),
    url("../fonts/digital7.svg#digital7") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*DEFAULD RED COLORS*/
$primaria: #e91e62 !default;
$secundaria: #ad1356 !default;
$fundo: #f1f1f1 !default;
$linhas: #e0e0e0 !default;
$branco: #fff !default;
$escuro: #333 !default;
$button: #333 !default;

.color-red {
  border: 4px solid #fff;
  border-radius: 50%;
  padding: 15px;
  background: linear-gradient(to right, #e91e62 50%, #ad1356 50%);
}

.color-green {
  @extend .color-red;
  background: linear-gradient(to right, #36802d 50%, #77ab59 50%);
}

.color-blue {
  @extend .color-red;
  background: linear-gradient(to right, #0276c0 50%, #0099cc 50%);
}

.color-pink {
  @extend .color-red;
  background: linear-gradient(to right, #9c1c6b 50%, #e47297 50%);
}

.color-dark {
  @extend .color-red;
  background: linear-gradient(to right, #000 50%, #444 50%);
}

body {
  font-family: "Montserrat", sans-serif;
  background: $fundo;

  a {
    font-weight: 600;
    color: $button;

    &:hover {
      color: $button;
    }
  }

  .btn {
    color: $branco;
    border-color: $button;
    background: $button;

    &:hover {
      color: $branco;
      background: darken($button, 12%);
    }

    &.btn-outline {
      color: $button;
      background: $branco;

      &:hover {
        color: $branco;
        background: $button;
      }
    }
  }

  .semana {
    font-size: 2.5rem;
    font-weight: 600;
    color: $branco;
    background: $secundaria;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .mes-ano {
    font-size: 2rem;
    font-weight: 300;
    color: $branco;
    background: $primaria;
    padding: 0 15px;
  }

  .hoje {
    font-size: 15rem;
    font-weight: 500;
    color: $escuro;
    background: $branco;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 3px 1px darken($branco, 15%), 0px 6px 1px darken($branco, 7%), 0px 9px 1px darken($branco, 15%),
      0px 12px 1px darken($branco, 7%), 0px 14px 1px darken($branco, 15%);
  }

  .horario {
    font-family: digital, Montserrat, sans-serif;
    font-size: 4rem;
    color: $primaria;
    border-bottom: 4px solid $linhas;
    margin: 0;
  }

  .dias {
    justify-content: center;
    padding: 0;

    li {
      color: $secundaria;
      font-size: 1.2rem;
      padding: 0 5px;
      list-style: none;
      cursor: pointer;

      &:hover {
        color: $escuro;
        padding-top: 0px;
        margin-top: -5px;
        text-shadow: 0px 13px 2px $linhas;
      }

      &.notas-hoje {
        font-weight: 600;
        color: $primaria;
      }
    }
  }

  .anotacoes {
    height: 500px;
    color: $escuro;
    overflow-y: auto;
    font-family: "Courgette", cursive;
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid $linhas;
    border-radius: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(darken($branco, 6%), $branco);

    p {
      &:nth-child(odd) {
        color: lighten($escuro, 22%);
      }
    }
  }

  .qual-dia {
    input {
      width: 75px;
      margin: 0 5px;
    }
  }

  .aviso {
    color: $branco;
    background: $secundaria;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  }

  footer {
    border-top: 4px solid $linhas;
  }

  /*GREEN COLORS*/
  &.green {
    $primaria: #77ab59;
    $secundaria: #36802d;
    $fundo: #dfe9c6;
    $linhas: #77ab59;
    $branco: #fff;
    $escuro: #762d80;
    $button: #762d80;

    background: $fundo;

    a {
      color: $button;

      &:hover {
        color: $button;
      }
    }

    .btn {
      color: $branco;
      border-color: $button;
      background: $button;

      &:hover {
        color: $branco;
        background: darken($button, 12%);
      }

      &.btn-outline {
        color: $button;
        background: $branco;

        &:hover {
          color: $branco;
          background: $button;
        }
      }
    }

    .semana {
      background: $secundaria;
    }

    .mes-ano {
      color: $branco;
      background: $primaria;
    }

    .hoje {
      color: $escuro;
      background: $branco;
      box-shadow: 0px 3px 1px darken($branco, 15%), 0px 6px 1px darken($branco, 7%), 0px 9px 1px darken($branco, 15%),
        0px 12px 1px darken($branco, 7%), 0px 14px 1px darken($branco, 15%);
    }

    .horario {
      color: $primaria;
      border-bottom: 4px solid $linhas;
    }

    .dias {
      li {
        color: $secundaria;

        &:hover {
          color: $escuro;
          text-shadow: 0px 13px 2px $linhas;
        }

        &.notas-hoje {
          color: $primaria;
        }
      }
    }

    .anotacoes {
      color: $escuro;
      border: 1px solid $linhas;
      background-image: linear-gradient(darken($branco, 6%), $branco);

      p {
        &:nth-child(odd) {
          color: lighten($escuro, 22%);
        }
      }
    }

    .aviso {
      color: $branco;
      background: $secundaria;
    }

    footer {
      border-top: 4px solid $linhas;
    }
  }

  /*BLUE COLORS*/
  &.blue {
    $primaria: #0099cc;
    $secundaria: #0276c0;
    $fundo: #bbdefa;
    $linhas: #0099cc;
    $branco: #fff;
    $escuro: #f24911;
    $button: #f24911;

    background: $fundo;

    a {
      color: $button;

      &:hover {
        color: $button;
      }
    }

    .btn {
      color: $branco;
      border-color: $button;
      background: $button;

      &:hover {
        color: $branco;
        background: darken($button, 12%);
      }

      &.btn-outline {
        color: $button;
        background: $branco;

        &:hover {
          color: $branco;
          background: $button;
        }
      }
    }

    .semana {
      background: $secundaria;
    }

    .mes-ano {
      color: $branco;
      background: $primaria;
    }

    .hoje {
      color: $escuro;
      background: $branco;
      box-shadow: 0px 3px 1px darken($branco, 15%), 0px 6px 1px darken($branco, 7%), 0px 9px 1px darken($branco, 15%),
        0px 12px 1px darken($branco, 7%), 0px 14px 1px darken($branco, 15%);
    }

    .horario {
      color: $primaria;
      border-bottom: 4px solid $linhas;
    }

    .dias {
      li {
        color: $secundaria;

        &:hover {
          color: $escuro;
          text-shadow: 0px 13px 2px $linhas;
        }

        &.notas-hoje {
          color: $primaria;
        }
      }
    }

    .anotacoes {
      color: $escuro;
      border: 1px solid $linhas;
      background-image: linear-gradient(darken($branco, 6%), $branco);

      p {
        &:nth-child(odd) {
          color: lighten($escuro, 22%);
        }
      }
    }

    .aviso {
      color: $branco;
      background: $secundaria;
    }

    footer {
      border-top: 4px solid $linhas;
    }
  }

  /*PINK COLORS*/
  &.pink {
    $primaria: #9c1c6b;
    $secundaria: #ca278c;
    $fundo: #fbe0ea;
    $linhas: #e47297;
    $branco: #fff;
    $escuro: #005a23;
    $button: #005a23;

    background: $fundo;

    a {
      color: $button;

      &:hover {
        color: $button;
      }
    }

    .btn {
      color: $branco;
      border-color: $button;
      background: $button;

      &:hover {
        color: $branco;
        background: darken($button, 12%);
      }

      &.btn-outline {
        color: $button;
        background: $branco;

        &:hover {
          color: $branco;
          background: $button;
        }
      }
    }

    .semana {
      background: $secundaria;
    }

    .mes-ano {
      color: $branco;
      background: $primaria;
    }

    .hoje {
      color: $escuro;
      background: $branco;
      box-shadow: 0px 3px 1px darken($branco, 15%), 0px 6px 1px darken($branco, 7%), 0px 9px 1px darken($branco, 15%),
        0px 12px 1px darken($branco, 7%), 0px 14px 1px darken($branco, 15%);
    }

    .horario {
      color: $primaria;
      border-bottom: 4px solid $linhas;
    }

    .dias {
      li {
        color: $secundaria;

        &:hover {
          color: $escuro;
          text-shadow: 0px 13px 2px $linhas;
        }

        &.notas-hoje {
          color: $primaria;
        }
      }
    }

    .anotacoes {
      color: $escuro;
      border: 1px solid $linhas;
      background-image: linear-gradient(darken($branco, 6%), $branco);

      p {
        &:nth-child(odd) {
          color: lighten($escuro, 22%);
        }
      }
    }

    .aviso {
      color: $branco;
      background: $secundaria;
    }

    footer {
      border-top: 4px solid $linhas;
    }
  }

  /*DARK COLORS*/
  &.dark {
    $primaria: #111;
    $secundaria: #000;
    $fundo: #151515;
    $linhas: #000;
    $branco: #444;
    $escuro: #bb86fc;
    $button: #03dac6;
    $input: #ccc;

    background: $fundo;

    a {
      color: $button;

      &:hover {
        color: $button;
      }
    }

    .btn {
      color: $secundaria;
      border-color: $button;
      background: $button;

      &:hover {
        color: $secundaria;
        background: darken($button, 12%);
      }

      &.btn-outline {
        color: $button;
        background: $secundaria;

        &:hover {
          color: $secundaria;
          background: $button;
        }
      }
    }

    .semana {
      color: $escuro;
      background: $secundaria;
    }

    .mes-ano {
      color: $escuro;
      background: $primaria;
    }

    .hoje {
      color: $input;
      background: $branco;
      box-shadow: 0px 3px 1px darken($branco, 15%), 0px 6px 1px darken($branco, 7%), 0px 9px 1px darken($branco, 15%),
        0px 12px 1px darken($branco, 7%), 0px 14px 1px darken($branco, 15%);
    }

    .horario {
      color: $escuro;
      border-bottom: 4px solid $linhas;
    }

    .dias {
      li {
        color: $escuro;

        &:hover {
          color: $escuro;
          text-shadow: 0px 13px 2px $linhas;
        }

        &.notas-hoje {
          color: $escuro;
        }
      }
    }

    .anotacoes {
      color: $input;
      border: 1px solid $linhas;
      background-image: linear-gradient(darken($branco, 6%), $branco);

      p {
        &:nth-child(odd) {
          color: lighten($escuro, 22%);
        }
      }
    }

    textarea {
      color: $input;
      border-color: $branco;
      background: $branco;

      &:focus {
        @extend textarea
      }
    }

    .qual-dia {
      color: $escuro;

      input {
        color: $input;
        border-color: $branco;
        background: $branco;
      }
    }

    .aviso {
      color: $input;
      background: $secundaria;
    }

    footer {
      border-top: 4px solid $linhas;
    }
  }
}